<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <label for="figure_name">Name</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">

  <h2>Titles</h2>
  <% @titles.each do |t| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= t.name %>" value="<%= t.id %>" <%= 'checked' if @figure.titles.include?(t) %>><%= t.name %><br>
  <% end %>

  <h2>Create New Title:</h2>
  <input type="text" name="title[name]" id="new_title">


  <
  <input type="submit" value="Edit Figure">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
