<h2>Create New Landmark</h2>

<form action="/landmarks/<%= @landmark.id %>" method="POST">

  <label for="landmark_name">Name</label>
  <input type="text" id="landmark_name" name="landmark[name]">

  <h2>Titles</h2>
  <% @titles.each do |t| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= t.name %>" value="<%= t.id %>" <%= 'checked' if @figure.titles.include?(t) %>><%= t.name %><br>
  <% end %>

  <h2>Create New Title:</h2>
  <input type="text" name="title[name]" id="new_title">

  <br>
  <input type="submit" value="Save Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
